{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <br><br><br>

    <div class="px-4 pt-5 text-center border-bottom">
        <h1 class="display-4 fw-bold"><span class="badge bg-primary">EFREIVERR</span></h1>
        <div class="col-lg-6 mx-auto">
            <div class="p-12 p-md-12 mb-12 text-primary rounded">
                <div class="col-md-12 px-0">
                    <h1 class="display-4">Trouvez les meilleurs travaux <span class="display-4 fst-italic fw-bold">efreiverr</span> pour vos projets</h1>
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                {% if app.user %}

                {% else %}
                    <a href="{{ path('app_register') }}" class="header__login">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                             viewBox='0 0 512 512'>
                            <path d='M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336'
                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                            <polyline points='288 336 368 256 288 176'
                                      style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                            <line x1='80' y1='256' x2='352' y2='256'
                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                        </svg>
                        <span>Sign out</span>
                    </a>
                    <a href="{{ path('app_login') }}" class="header__login">
                        <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512'
                             viewBox='0 0 512 512'>
                            <path d='M192,176V136a40,40,0,0,1,40-40H392a40,40,0,0,1,40,40V376a40,40,0,0,1-40,40H240c-22.09,0-48-17.91-48-40V336'
                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                            <polyline points='288 336 368 256 288 176'
                                      style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                            <line x1='80' y1='256' x2='352' y2='256'
                                  style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
                        </svg>
                        <span>Sign in</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 50vh;">
            <div class="container px-5">
                <img src="{{ asset('images/efrei.png') }}" class="img-fluid bg-light rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

{% endblock %}


