<!-- footer -->
<footer class="footer" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__wrap" style="margin-top: 0px">
                    <a class="footer__logo" href=""></a>

                    <span class="footer__copyright">© 2021 EFREIVERR <br> Created by Guillaume CHALONS | Moubina MAVOULANA | Maha EL BANNA | Badr TADJER</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->