<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">EfreiVer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Offres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Annonces</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Poster
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Offre</a></li>
                            <li><a class="dropdown-item" href="#">Annonces</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <div class="d-grid gap-2 d-md-flex justify-content-center">
                    {% if app.user %}
                        <a class="navbar-brand text-white text-center" href="#">
                            {{ app.user.username }}
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <a href="{{ path('app_logout') }}">
                            <button type="button" class="btn btn-outline-secondary btn-sm px-3">Se deconnecter</button>
                        </a>
                    {% else %}
                        <a href="{{ path('app_register') }}">
                            <button type="button" class="btn btn-primary btn-sm px-3">S'enregistrer</button>
                        </a>
                        <a href="{{ path('app_login') }}">
                            <button type="button" class="btn btn-outline-secondary btn-sm px-3">Se connecter</button>
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</nav>