<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% include 'includes/navbar.html.twig' %}
        <div id="app">
            {% block body %}{% endblock %}
        </div>
        {% include 'includes/footer.html.twig' %}



        {% block vueComponents %}
        {% endblock %}
        <script type="text/javascript">
            var components = {};
        </script>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('appVueJs') }}
        {% endblock %}
    </body>
</html>
