{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Offres</h1>
                </div>
            </div>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {% for offre in offres %}
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="./images/{{ offre.images[0] }}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">
                                    <div class="card-body">
                                        <p class="card-title">{{ offre.title }}</p>
                                        <p class="card-text">{{ offre.description }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">Author : {{ offre.user.username }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
